table,
.node {
  border-collapse: collapse;
  border: 1px solid black;
}
table {
  margin-top: 10em;
  margin: auto;
}
table.disable {
  pointer-events: none;
}
.node:hover {
  opacity: 0.75;
}
.node {
  height: 1.5em;
  width: 1.5em;
}
.node.unvisited {
  background-color: white;
}
.node.path {
  background-color: yellow;
}

.node.start {
  background-color: green;
}
.node.visited {
  background-color: aqua;
}
.node.end {
  background-color: red;
}
.node.wall {
  background-color: darkblue;
}
