table,
.node {
  border-collapse: collapse;
  border: 1px solid black;
}
.node:hover {
  opacity: 50%;
}
.node {
  height: 1.5em;
  width: 1.5em;
}
.node.unvisited {
  background-color: white;
}

.node.start {
  background-color: #95dac1;
}

.node.end {
  background-color: #dc7f9b;
}
