table,
.node {
  border-collapse: collapse;
  border: 1px solid black;
}

.node {
  height: 1em;
  width: 1em;
}
.node.unvisited {
  background-color: white;
}

.node.start {
  background-color: #95dac1;
}

.node.end {
  background-color: #dc7f9b;
}
